
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters{
    margin-right: 30px;
    text-align: center;
    font-size: 10px;

    .vote, .answer{
        height: 60px;
        width:60px;
    }
    .status{
        &.unanswered{
            border:none ;
        }
        &.answered{
            border: 1px solid $color-green;
            color: $color-green;
        }
        &.answered-accepted{
            background: $color-green;
            color: $color-white;

        }

    }
}
.votes-control{
    margin-right:20px ;
    margin-left: 20px;
    text-align: center;
    min-width: 50px;
    color: $gray-700;

    a{
        cursor: pointer;

        &.off, &.off:hover{
            color: $gray-500;
        }
        &.fabs , &.fabs:hover{
            color:$blue;
        }
        &.vote-accept{
            color: $green;
        }
    }
}
